#signUp {
  width: 100vw;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../img/768/me_768.jpg") no-repeat;
}

#signUp h1 {
  font-size: 40px;
  color: #c23616;
  margin-bottom: 0;
  border-bottom: 1px solid #fff;
}

#signUp p {
  margin-bottom: 0;
}

#signUp .signUpHeader {
  margin-top: 20px;
  text-align: center;
}

#signUp form {
  position: absolute;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signUp .inputGroup {
  margin-bottom: 20px;
}

#signUp input,
#signUp a {
  display: block;
  width: 80vw;
  height: 40px;
  padding: 4px 20px;
  line-height: 32px;
  border: none;
  border-radius: 20px;
  color: #2c3e50;
  font-size: 20px;
  text-align: center;
  margin-top: 4px;
  background-color: rgba(255, 255, 255, 0.8);
}

#signUp .signUpBtn,
#signUp a {
  color: #c23616;
}

#signUp input:focus {
  outline: none;
}

#signUp .errorText {
  height: 14px;
  text-align: center;
}

#signUp .invalidMsg {
  font-size: 14px;
  color: #c23616;
}

#signUp .is-invalid {
  border: 1px solid #c23616;
}

#signUp .or {
  display: block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 13px;
  color: #c23616;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

#signUp a {
  text-decoration: none;
  width: 40vw;
}
