#membership {
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.optionBanner {
  width: 100vw;
  height: 80vh;
  color: #fff;
  background-image: url(../../../../img/768/mission_768.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px;
}

.optionBanner .optionBannerOverlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.optionBanner h1 {
  width: 300px;
  font-size: 45px;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  margin-top: 15px;
}

.options .option {
  width: 96vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.options .optionHeader {
  width: 100%;
  height: 300px;
  color: #fff;
  background-image: url(../../../../img/768/mission_768.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 8px;
}

.options .optionTitle {
  width: 100%;
  background-color: rgba(0, 181, 204, 0.7);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
}

.options .optionDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options .franchiseHeader {
  width: 320px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 181, 204, 1);
  border-radius: 18px;
}

.options .franchiseHeader p {
  margin: 0 20px;
}

.options .franchiseItem {
  width: 320px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-radius: 18px;
  margin-top: 6px;
}

.options .franchiseItem:nth-child(odd) {
  background-color: rgba(129, 207, 224, 1);
}

.options .franchiseItem:nth-child(even) {
  background-color: rgba(0, 181, 204, 1);
}

.options .franchiseList i {
  margin-right: 6px;
  font-size: 24px;
  color: #fff;
}

.options .franchiseList p {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.options h1,
.options h5,
.options p {
  margin-bottom: 0;
}
.options a {
  width: 120px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #c23616;
  color: #fff;
  border-radius: 18px;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 10px;
}
