* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  #desktopNavbar,
  #explore footer,
  #video .videoBG {
    display: none;
  }

  #membershipBanner {
    background-image: url(./img/768/join_768.jpg);
  }

  #membership .optionBanner {
    background-image: url(./img/768/membership_768.jpg);
  }

  #training .training {
    background-image: url(./img/768/training_768.jpg);
  }

  #explore {
    margin-bottom: 55px;
  }

  footer {
    margin-bottom: 55px;
  }

  footer .connect {
    flex-direction: column;
  }
}

@media only screen and (min-width: 769px) {
  #mobileNavbar,
  #exploreNavbar,
  #video .imageBG {
    display: none;
  }
}
