/****************************** mobileNavbar */
#mobileNavbar {
  width: 100vw;
  color: #bdc3c7;
  background-color: #fff;
  border-top: 1px solid #eee;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 3;
}

#mobileNavbar ul {
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#mobileNavbar ul li {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mobileNavbar a {
  width: 25vw;
  height: 100%;
  display: block;
  padding-top: 4px;
  text-align: center;
  color: #bdc3c7;
  text-decoration: none;
}

#mobileNavbar i {
  display: block;
  height: 50%;
  font-size: 22px;
}

#mobileNavbar p {
  height: 50%;
  font-size: 16px;
  margin-bottom: 0;
}
#mobileNavbar .fa-gripfire {
  font-size: 26px;
}

#mobileNavbar .active {
  color: #c23616;
}
