.postContentImage {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.postImage {
  width: 31vw;
  height: 31vw;
  margin: 0.5vw;
}

.postImage img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.imageModal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.imageModal img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
